<?xml version="1.0" encoding="UTF-8" ?>
 <!DOCTYPE configuration  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

 <typeAliases>
		<typeAlias type="org.hi.domain.BoardVO" alias="bvo" />
		<typeAlias type="org.hi.domain.SearchCriteria" alias="sc" />
		
		
	</typeAliases>

	<mappers>
		<mapper resource="mappers/board-Mapper.xml" />
	</mappers>

</configuration>